.card{
    margin-bottom: 50px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    width: 88%;
    display: flex;
    height: auto;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 6px;
}
.featured{
    border-left: #5DA5A4 4px solid;
}

@media (min-width: 900px) {
   .card{
       margin-bottom: 20px;
        flex-direction: row;
        height: 120px;
        align-items: center;
   }
}