header{
    background-color: hsl(180, 29%, 50%);
    background-image: url(../../images/bg-header-mobile.svg);
    background-position:initial;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
}

@media (min-width: 900px) {
   header{
        background-image: url(../../images/bg-header-desktop.svg);
   }
 }